node_modules/
.node_modules/
**/.DS_Store
.settings
.idea
yarn.lock
yarn-error.log
.parallelperf.*
.failed-tests
TEST-results.xml
package-lock.json
.eslintcache
*v8.log
/lib/
*.iml
.idea/
*.idea/*
dist*
app/dist/*
*.js*
*.js